# INFO:: There are notes on each element, however all of this is covered in the docs for more detail and readability

[BASIC]
board = BCM ; Board type. Should not be changed unless you know what you are doing
fan = 4 ; Change this to the GPIO pin you fan is connected to
check_delay = 30 ; Normal delay 30 seconds between checks. You man change this if you would like more or less frequent temp checking
max_attempts = 3 ; The number of attempts the program will make on error before closing down

; You may change these, however I would not recommend putting the critical heat at a value too high, as it can perminantly damage your pi
CRIT_HEAT = 90 ; The CPU temperature at which the pi will shut down.
WARN_HEAT = 70 ; The CPU temperature at which the program will log (and send if email enabled) an error
FAN_START = 55 ; The CPU temperature at which the fan will start

[SMTP]
email_logging = False ; You can change this to True if you want to perminantly allow emails. NOTE: you may also use the argument -m (--mail) to temporarily enable emails for that runtime
server = smtp.gmail.com ; You may change this if you do not want to use google's smtp server, however you should not change this unless you know what you are doing
port = 587 ; this is the port that google uses for TLS SMTP. Again, do not change this unless you know what you are doing.
user = youremail@example.com
password = your-password ; I recommend setting up 2-factor-authentication, and creating an app password
from = youremail@example.com
to = youremail@example.com
